In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('dxc_archive.xlsx')
df = pd.DataFrame(df)

In [3]:
df = df[['Project Manager','Expected Start','Duration']]
df.dtypes

Project Manager            object
Expected Start     datetime64[ns]
Duration                    int64
dtype: object

In [4]:
df = df.sort_values(by='Expected Start', ascending=True)
df['Month'] = df['Expected Start'].astype(str)

In [5]:
df = df[['Project Manager','Month','Duration']]

In [6]:
df_1 = df.loc[df['Month'] == '2016-10-01']
df_2 = df.loc[df['Month'] == '2016-11-01']
df_3 = df.loc[df['Month'] == '2016-12-01']
df_4 = df.loc[df['Month'] == '2017-01-01']
df_5 = df.loc[df['Month'] == '2018-02-01']

df_1 = df_1.loc[df_1['Duration'] > 6]
df_2 = df_2.loc[df_2['Duration'] > 5]
df_3 = df_3.loc[df_3['Duration'] > 4]
df_4 = df_4.loc[df_4['Duration'] > 3]
df_5 = df_5.loc[df_5['Duration'] > 2]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])
previous.head()

                    Project Manager       Month  Duration
56                   Dhond; Utkarsh  2016-10-01        16
113              Comstock; Tara Nic  2016-10-01        19
74                  Agarwal; Shilpa  2016-11-01        16
223  Ortega Cisneros; Tanya Cecilia  2016-11-01        22
20                 McGrath; Patrick  2017-01-01        11

In [7]:
april_2017 = df.loc[df['Month'] == '2017-04-01']
april_2017 = pd.concat([april_2017, previous])
april_2017 = april_2017.groupby("Project Manager").count()
april_2017.apply(list).apply(pd.Series)
april_2017.groupby("Month").count()

       Duration
Month
1            25
2             3

In [8]:
df_1 = df_1.loc[df_1['Duration'] > 7]
df_2 = df_2.loc[df_2['Duration'] > 6]
df_3 = df_3.loc[df_3['Duration'] > 5]
df_4 = df_4.loc[df_4['Duration'] > 4]
df_5 = df_5.loc[df_5['Duration'] > 3]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
may_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 1],
                     may_2017,
                     previous])
may_2017 = may_2017.groupby("Project Manager").count()
may_2017.apply(list).apply(pd.Series)
may_2017.groupby("Month").count()

       Duration
Month
1            27
2             1

In [9]:
df_1 = df_1.loc[df_1['Duration'] > 8]
df_2 = df_2.loc[df_2['Duration'] > 7]
df_3 = df_3.loc[df_3['Duration'] > 6]
df_4 = df_4.loc[df_4['Duration'] > 5]
df_5 = df_5.loc[df_5['Duration'] > 4]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
june_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 2],
                        may_2017.loc[may_2017['Duration'] > 1], 
                        june_2017,
                        previous
                      ])
june_2017 = june_2017.groupby("Project Manager").count()
june_2017.apply(list).apply(pd.Series)
june_2017.groupby("Month").count()

       Duration
Month
1            28

In [10]:
df_1 = df_1.loc[df_1['Duration'] > 9]
df_2 = df_2.loc[df_2['Duration'] > 8]
df_3 = df_3.loc[df_3['Duration'] > 7]
df_4 = df_4.loc[df_4['Duration'] > 6]
df_5 = df_5.loc[df_5['Duration'] > 5]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
july_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 3],
                     may_2017.loc[may_2017['Duration'] > 2], 
                     june_2017.loc[june_2017['Duration'] > 1], 
                     july_2017,
                     previous
                      ])
july_2017 = july_2017.groupby("Project Manager").count()
july_2017.apply(list).apply(pd.Series)
july_2017.groupby("Month").count()

       Duration
Month
1            29

In [11]:
df_1 = df_1.loc[df_1['Duration'] > 9]
df_2 = df_2.loc[df_2['Duration'] > 8]
df_3 = df_3.loc[df_3['Duration'] > 7]
df_4 = df_4.loc[df_4['Duration'] > 6]
df_5 = df_5.loc[df_5['Duration'] > 5]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
august_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 4],
                     may_2017.loc[may_2017['Duration'] > 3], 
                     june_2017.loc[june_2017['Duration'] > 2], 
                     july_2017.loc[july_2017['Duration'] > 1],
                     august_2017,
                     previous
                    ])
august_2017 = august_2017.groupby("Project Manager").count()
august_2017.apply(list).apply(pd.Series)
august_2017.groupby("Month").count()

       Duration
Month
1            35
2             4
3             3

In [12]:
df_1 = df_1.loc[df_1['Duration'] > 10]
df_2 = df_2.loc[df_2['Duration'] > 9]
df_3 = df_3.loc[df_3['Duration'] > 8]
df_4 = df_4.loc[df_4['Duration'] > 7]
df_5 = df_5.loc[df_5['Duration'] > 6]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
september_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 5],
                     may_2017.loc[may_2017['Duration'] > 4], 
                     june_2017.loc[june_2017['Duration'] > 3], 
                     july_2017.loc[july_2017['Duration'] > 2],
                     august_2017.loc[august_2017['Duration'] > 1],
                     september_2017,               
                     previous
                    ])
september_2017 = september_2017.groupby("Project Manager").count()
september_2017.apply(list).apply(pd.Series)
september_2017.groupby("Month").count()

       Duration
Month
1            45
2             5
3             3

In [13]:
df_1 = df_1.loc[df_1['Duration'] > 11]
df_2 = df_2.loc[df_2['Duration'] > 10]
df_3 = df_3.loc[df_3['Duration'] > 9]
df_4 = df_4.loc[df_4['Duration'] > 8]
df_5 = df_5.loc[df_5['Duration'] > 7]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
october_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 6],
                     may_2017.loc[may_2017['Duration'] > 5], 
                     june_2017.loc[june_2017['Duration'] > 4], 
                     july_2017.loc[july_2017['Duration'] > 3],
                     august_2017.loc[august_2017['Duration'] > 2],
                     september_2017.loc[september_2017['Duration'] > 1],               
                     october_2017,
                     previous
                    ])
october_2017 = october_2017.groupby("Project Manager").count()
october_2017.apply(list).apply(pd.Series)
october_2017.groupby("Month").count()

       Duration
Month
1            46
2             7
3             3
4             1
5             1

In [14]:
df_1 = df_1.loc[df_1['Duration'] > 12]
df_2 = df_2.loc[df_2['Duration'] > 11]
df_3 = df_3.loc[df_3['Duration'] > 10]
df_4 = df_4.loc[df_4['Duration'] > 9]
df_5 = df_5.loc[df_5['Duration'] > 8]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
november_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 7],
                     may_2017.loc[may_2017['Duration'] > 6], 
                     june_2017.loc[june_2017['Duration'] > 5], 
                     july_2017.loc[july_2017['Duration'] > 4],
                     august_2017.loc[august_2017['Duration'] > 3],
                     september_2017.loc[september_2017['Duration'] > 2],               
                     october_2017.loc[october_2017['Duration'] > 1],
                     november_2017,
                     previous
                    ])
november_2017 = november_2017.groupby("Project Manager").count()
november_2017.apply(list).apply(pd.Series)
november_2017.groupby("Month").count()

       Duration
Month
1            45
2            10
3             3
4             2
7             1

In [15]:
df_1 = df_1.loc[df_1['Duration'] > 13]
df_2 = df_2.loc[df_2['Duration'] > 12]
df_3 = df_3.loc[df_3['Duration'] > 11]
df_4 = df_4.loc[df_4['Duration'] > 10]
df_5 = df_5.loc[df_5['Duration'] > 9]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
december_2017 = pd.concat([april_2017.loc[april_2017['Duration'] > 8],
                     may_2017.loc[may_2017['Duration'] > 7], 
                     june_2017.loc[june_2017['Duration'] > 6], 
                     july_2017.loc[july_2017['Duration'] > 5],
                     august_2017.loc[august_2017['Duration'] > 4],
                     september_2017.loc[september_2017['Duration'] > 3],               
                     october_2017.loc[october_2017['Duration'] > 2],
                     november_2017.loc[november_2017['Duration'] > 1],
                     december_2017,
                     previous
                    ])
december_2017 = december_2017.groupby("Project Manager").count()
december_2017.apply(list).apply(pd.Series)
december_2017.groupby("Month").count()

       Duration
Month
1            46
2             8
3             7
4             3

In [16]:
df_1 = df_1.loc[df_1['Duration'] > 14]
df_2 = df_2.loc[df_2['Duration'] > 13]
df_3 = df_3.loc[df_3['Duration'] > 12]
df_4 = df_4.loc[df_4['Duration'] > 11]
df_5 = df_5.loc[df_5['Duration'] > 10]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
january_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 9],
                     may_2017.loc[may_2017['Duration'] > 8], 
                     june_2017.loc[june_2017['Duration'] > 7], 
                     july_2017.loc[july_2017['Duration'] > 6],
                     august_2017.loc[august_2017['Duration'] > 5],
                     september_2017.loc[september_2017['Duration'] > 4],               
                     october_2017.loc[october_2017['Duration'] > 3],
                     november_2017.loc[november_2017['Duration'] > 2],
                     december_2017.loc[december_2017['Duration'] > 1],
                     january_2018,
                     previous
                    ])
january_2018 = january_2018.groupby("Project Manager").count()
january_2018.apply(list).apply(pd.Series)
january_2018.groupby("Month").count()

       Duration
Month
1            42
2            13
3             8
4             1

In [17]:
df_1 = df_1.loc[df_1['Duration'] > 15]
df_2 = df_2.loc[df_2['Duration'] > 14]
df_3 = df_3.loc[df_3['Duration'] > 13]
df_4 = df_4.loc[df_4['Duration'] > 12]
df_5 = df_5.loc[df_5['Duration'] > 11]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
february_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 10],
                     may_2017.loc[may_2017['Duration'] > 9], 
                     june_2017.loc[june_2017['Duration'] > 8], 
                     july_2017.loc[july_2017['Duration'] > 7],
                     august_2017.loc[august_2017['Duration'] > 6],
                     september_2017.loc[september_2017['Duration'] > 5],               
                     october_2017.loc[october_2017['Duration'] > 4],
                     november_2017.loc[november_2017['Duration'] > 3],
                     december_2017.loc[december_2017['Duration'] > 2],
                     january_2018.loc[january_2018['Duration'] > 1],
                     february_2018,
                     previous
                    ])
february_2018 = february_2018.groupby("Project Manager").count()
february_2018.apply(list).apply(pd.Series)
february_2018.groupby("Month").count()

       Duration
Month
1            55
2            11
3             5
4             3

In [18]:
df_1 = df_1.loc[df_1['Duration'] > 16]
df_2 = df_2.loc[df_2['Duration'] > 15]
df_3 = df_3.loc[df_3['Duration'] > 14]
df_4 = df_4.loc[df_4['Duration'] > 13]
df_5 = df_5.loc[df_5['Duration'] > 12]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
march_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 11],
                     may_2017.loc[may_2017['Duration'] > 10], 
                     june_2017.loc[june_2017['Duration'] > 9], 
                     july_2017.loc[july_2017['Duration'] > 8],
                     august_2017.loc[august_2017['Duration'] > 7],
                     september_2017.loc[september_2017['Duration'] > 6],               
                     october_2017.loc[october_2017['Duration'] > 5],
                     november_2017.loc[november_2017['Duration'] > 4],
                     december_2017.loc[december_2017['Duration'] > 3],
                     january_2018.loc[january_2018['Duration'] > 2],
                     february_2018.loc[february_2018['Duration'] > 1],
                     march_2018,
                     previous
                    ])
march_2018 = march_2018.groupby("Project Manager").count()
march_2018.apply(list).apply(pd.Series)
march_2018.groupby("Month").count()

       Duration
Month
1            54
2            14
3             5
4             2

In [19]:
df_1 = df_1.loc[df_1['Duration'] > 17]
df_2 = df_2.loc[df_2['Duration'] > 16]
df_3 = df_3.loc[df_3['Duration'] > 15]
df_4 = df_4.loc[df_4['Duration'] > 14]
df_5 = df_5.loc[df_5['Duration'] > 13]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
april_2018 = df.loc[df['Month'] == '2018-04-01']
april_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 12],
                     may_2017.loc[may_2017['Duration'] > 11], 
                     june_2017.loc[june_2017['Duration'] > 10], 
                     july_2017.loc[july_2017['Duration'] > 9],
                     august_2017.loc[august_2017['Duration'] > 8],
                     september_2017.loc[september_2017['Duration'] > 7],               
                     october_2017.loc[october_2017['Duration'] > 6],
                     november_2017.loc[november_2017['Duration'] > 5],
                     december_2017.loc[december_2017['Duration'] > 4],
                     january_2018.loc[january_2018['Duration'] > 3],
                     february_2018.loc[february_2018['Duration'] > 2],
                     march_2018.loc[march_2018['Duration'] > 1],
                     april_2018,
                     previous
                    ])
april_2018 = april_2018.groupby("Project Manager").count()
april_2018.apply(list).apply(pd.Series)
april_2018.groupby("Month").count()

       Duration
Month
1            54
2            18
3             3
4             3

In [20]:
df_1 = df_1.loc[df_1['Duration'] > 18]
df_2 = df_2.loc[df_2['Duration'] > 17]
df_3 = df_3.loc[df_3['Duration'] > 16]
df_4 = df_4.loc[df_4['Duration'] > 15]
df_5 = df_5.loc[df_5['Duration'] > 14]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
april_2018 = df.loc[df['Month'] == '2018-04-01']
may_2018 = df.loc[df['Month'] == '2018-05-01']
may_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 13],
                     may_2017.loc[may_2017['Duration'] > 12], 
                     june_2017.loc[june_2017['Duration'] > 11], 
                     july_2017.loc[july_2017['Duration'] > 10],
                     august_2017.loc[august_2017['Duration'] > 9],
                     september_2017.loc[september_2017['Duration'] > 8],               
                     october_2017.loc[october_2017['Duration'] > 7],
                     november_2017.loc[november_2017['Duration'] > 6],
                     december_2017.loc[december_2017['Duration'] > 5],
                     january_2018.loc[january_2018['Duration'] > 4],
                     february_2018.loc[february_2018['Duration'] > 3],
                     march_2018.loc[march_2018['Duration'] > 2],
                     april_2018.loc[april_2018['Duration'] > 1],
                     previous
                    ])
may_2018 = may_2018.groupby("Project Manager").count()
may_2018.apply(list).apply(pd.Series)
may_2018.groupby("Month").count()

       Duration
Month
1            50
2            15
3             4

In [21]:
df_1 = df_1.loc[df_1['Duration'] > 18]
df_2 = df_2.loc[df_2['Duration'] > 17]
df_3 = df_3.loc[df_3['Duration'] > 16]
df_4 = df_4.loc[df_4['Duration'] > 15]
df_5 = df_5.loc[df_5['Duration'] > 14]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
april_2018 = df.loc[df['Month'] == '2018-04-01']
may_2018 = df.loc[df['Month'] == '2018-05-01']
june_2018 = df.loc[df['Month'] == '2018-06-01']
june_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 14],
                     may_2017.loc[may_2017['Duration'] > 13], 
                     june_2017.loc[june_2017['Duration'] > 12], 
                     july_2017.loc[july_2017['Duration'] > 11],
                     august_2017.loc[august_2017['Duration'] > 10],
                     september_2017.loc[september_2017['Duration'] > 9],               
                     october_2017.loc[october_2017['Duration'] > 8],
                     november_2017.loc[november_2017['Duration'] > 7],
                     december_2017.loc[december_2017['Duration'] > 6],
                     january_2018.loc[january_2018['Duration'] > 5],
                     february_2018.loc[february_2018['Duration'] > 4],
                     march_2018.loc[march_2018['Duration'] > 3],
                     april_2018.loc[april_2018['Duration'] > 2],
                     may_2018.loc[may_2018['Duration'] > 1],
                     june_2018,
                     previous
                    ])
june_2018 = june_2018.groupby("Project Manager").count()
june_2018.apply(list).apply(pd.Series)
june_2018.groupby("Month").count()

       Duration
Month
1            64
2            16
3             2
4             5

In [22]:
df_1 = df_1.loc[df_1['Duration'] > 19]
df_2 = df_2.loc[df_2['Duration'] > 18]
df_3 = df_3.loc[df_3['Duration'] > 17]
df_4 = df_4.loc[df_4['Duration'] > 16]
df_5 = df_5.loc[df_5['Duration'] > 15]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
april_2018 = df.loc[df['Month'] == '2018-04-01']
may_2018 = df.loc[df['Month'] == '2018-05-01']
june_2018 = df.loc[df['Month'] == '2018-06-01']
july_2018 = df.loc[df['Month'] == '2018-07-01']
july_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 15],
                     may_2017.loc[may_2017['Duration'] > 14], 
                     june_2017.loc[june_2017['Duration'] > 13], 
                     july_2017.loc[july_2017['Duration'] > 12],
                     august_2017.loc[august_2017['Duration'] > 11],
                     september_2017.loc[september_2017['Duration'] > 10],               
                     october_2017.loc[october_2017['Duration'] > 9],
                     november_2017.loc[november_2017['Duration'] > 8],
                     december_2017.loc[december_2017['Duration'] > 7],
                     january_2018.loc[january_2018['Duration'] > 6],
                     february_2018.loc[february_2018['Duration'] > 5],
                     march_2018.loc[march_2018['Duration'] > 4],
                     april_2018.loc[april_2018['Duration'] > 3],
                     may_2018.loc[may_2018['Duration'] > 2],
                     june_2018.loc[june_2018['Duration'] > 1],
                     july_2018,
                     previous
                    ])
july_2018 = july_2018.groupby("Project Manager").count()
july_2018.apply(list).apply(pd.Series)
july_2018.groupby("Month").count()

       Duration
Month
1            65
2            15
3             5
4             1

In [23]:
df_1 = df_1.loc[df_1['Duration'] > 20]
df_2 = df_2.loc[df_2['Duration'] > 19]
df_3 = df_3.loc[df_3['Duration'] > 18]
df_4 = df_4.loc[df_4['Duration'] > 17]
df_5 = df_5.loc[df_5['Duration'] > 16]

previous = pd.concat([df_1, df_2, df_3, df_4, df_5])

april_2017 = df.loc[df['Month'] == '2017-04-01']
may_2017 = df.loc[df['Month'] == '2017-05-01']
june_2017 = df.loc[df['Month'] == '2017-06-01']
july_2017 = df.loc[df['Month'] == '2017-07-01']
august_2017 = df.loc[df['Month'] == '2017-08-01']
september_2017 = df.loc[df['Month'] == '2017-09-01']
october_2017 = df.loc[df['Month'] == '2017-10-01']
november_2017 = df.loc[df['Month'] == '2017-11-01']
december_2017 = df.loc[df['Month'] == '2017-12-01']
january_2018 = df.loc[df['Month'] == '2018-01-01']
february_2018 = df.loc[df['Month'] == '2018-02-01']
march_2018 = df.loc[df['Month'] == '2018-03-01']
april_2018 = df.loc[df['Month'] == '2018-04-01']
may_2018 = df.loc[df['Month'] == '2018-05-01']
june_2018 = df.loc[df['Month'] == '2018-06-01']
july_2018 = df.loc[df['Month'] == '2018-07-01']
august_2018 = df.loc[df['Month'] == '2018-08-01']
august_2018 = pd.concat([april_2017.loc[april_2017['Duration'] > 16],
                     may_2017.loc[may_2017['Duration'] > 15], 
                     june_2017.loc[june_2017['Duration'] > 14], 
                     july_2017.loc[july_2017['Duration'] > 13],
                     august_2017.loc[august_2017['Duration'] > 12],
                     september_2017.loc[september_2017['Duration'] > 11],               
                     october_2017.loc[october_2017['Duration'] > 10],
                     november_2017.loc[november_2017['Duration'] > 9],
                     december_2017.loc[december_2017['Duration'] > 8],
                     january_2018.loc[january_2018['Duration'] > 7],
                     february_2018.loc[february_2018['Duration'] > 6],
                     march_2018.loc[march_2018['Duration'] > 5],
                     april_2018.loc[april_2018['Duration'] > 4],
                     may_2018.loc[may_2018['Duration'] > 3],
                     june_2018.loc[june_2018['Duration'] > 2],
                     july_2018.loc[july_2018['Duration'] > 1],
                     august_2018,
                     previous
                    ])
august_2018 = august_2018.groupby("Project Manager").count()
august_2018.apply(list).apply(pd.Series)
august_2018.groupby("Month").count()

       Duration
Month
1            62
2            19
3             3